body {
  padding: 0;
  margin: 0;
  font-family: 'Bradley Hand', cursive;

  background-color: hsla(204, 100%, 89%, 0.812);
}
img {
  display: block;
  height: auto;
}
.search-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.input {
  font-family: inherit;
  font-size: inherit;
  padding: 10px 15px;
  margin-right: 15px;
  border-color: #6e8ebd;
}
.btn-submit {
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  outline: none;
  padding: 10px 20px;
  background-color: #8fb6ff;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: inherit;
  height: 50px;
  min-width: 100px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #8fb6ff;
  border-radius: 5px;
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  text-decoration: none;
}

.photo-card {
  padding: 5px;
  margin: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card img {
  display: block;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}
.photo-card img:hover {
  transform: scale(1.03);
}

.photo-card:nth-child(4n) {
  margin-right: 0;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.stats-item {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.material-icons {
  display: flex;
  justify-content: center;
}
li {
  display: block;
}
